<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuron Messenger</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Neuron Messenger</h1>
        <h2>Быстрый и безопасный мессенджер для всех</h2>
        <div class="auth-buttons">
            <a href="#" class="button">Зарегистрироваться или Войти</a>
        </div>
    </header>
    <main>
        <img src="../static/screen.webp" alt="Скриншот мессенджера">
        <p>Общайтесь с друзьями и семьей, где бы вы ни были. Наш мессенджер предлагает:</p>
        <ul>
            <li>Бесплатные сообщения</li>
            <li>Высокая скорость доставки</li>
            <li>Надежное шифрование</li>
        </ul>
        <a href="#" class="button">Скачать приложение</a>
    </main>
    <footer>
        <p>&copy; Neuron Messenger, 2024</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </footer>
</body>
</html>
