<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мессенджер</title>
    <style>
        h1{
            text-align: center;
        }
        body{
            background-color: rgb(6, 231, 247);
        }

        @media (max-width: 600px) {
            body {
                padding: 10px;
            }

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }
    </style>
    <script>
        alert('Hello');
    </script>
</head>
<body>
    <h1>Пример изображения</h1>
    <div style="text-align: center;">
        <img src="../static/7598652.png" alt="Example image">
    </div>
    <a href="https://youtu.be/LQil_eLQMIM?si=YXeYkOk-zCzncbfg">Click</a>
</body>
</html>